@media screen and (max-width: 768px) and (orientation : portrait) {
    #overflowPhone {
        overflow-x: hidden;
        position: relative
    }

    #firstLogo {
        left: 5vw;
        top: 3vh;
    }

    #logoSub {
        left: 5.8vw;
    }

    #flexCircles {
        zoom: 85%;
    }


    h1 {
        font-size: 5vw !important;
        left: 4vw !important;
        top: 35vh !important;
    }

     #intrested {
        position: absolute;
        top: 102vh;
        left: 37vw;
        font-size: 6vw;
        width: 100vw;
    }
    #intrestedText {
        position: absolute;
        top: 107.5vh;
        left: 50vw;
        transform: translateX(-50%);
        text-align: center;
        width: 50vw;
        font-size: 3vw;
    }

    header {
        height: 85vh;
    }

    #firstPhone {
        width: 150vw;
        height: 140vh;
        left: 52vw;
        top: 51vh;
        zoom: 50%;
    }

    main {
        height: 76vh;
        padding-top: 2vh;
    }

    #robotPicture {
        width: unset;
        height: unset;
        left: 0vw;
        zoom: 70%;
    }

    #robotText {
        font-size: 3.4vw;
    }
    

    .circles {
        width: unset;
        height: unset;
        zoom: 85%;
        margin-top: 2vh;
    }

    .scanersText {
        position: relative;
        top: 0.6vh !important;
        }


    .h3Color{
        font-size: 4vw;
    }
    
    .robotsUnderText {
        font-size: 3vw;
    }

    #lastPhone {
        width: unset;
        height: unset;
        left: 60vw;
        top: 15vh;
        transform: translateX(-50%);
        zoom: 80%;
    }

    #orangeCircle {
        width: 4vw;
        height: 2vh;
        top: 96vh;
    }

    footer {
        height: 185vh;
    }

    #formHeaders {
        bottom: 50vh;
    }

    #formHeaders>h3 {
        font-size: 5vw;
    }
    #formHeaders>h4 {
        font-size: 3vw;
        font-size: 3.5vw;
    }

    .inputType1 {
        width: 30vw;
        height: 18;
        font-size: 3.5vw;
    }


    #massage {
        width: 30vw !important;
        margin-right: 40vw; font-size: 3.5vw !important;
    }

    #send {
        width: 70vw;
    }

    ::placeholder {
        font-size: 3.5vw !important;
        padding-right: 1vw;
    }

    #secondLogo {
        width: 14vw;
        height: 5.5vh;
    }

    #lastHalfCircle {
        width: 75vw;
        height: 12vh;
    }

    #underLastPhone {
        zoom: unset;
        left: 60.5vw;
        top: 100vh;
        zoom: 70%;
        height: 36vh;
        width: 25vw;
        transform: rotate(382.5deg);
    }

    #aboveLastPhone {
        left: 60vw;
        transform: rotate(380deg);
        zoom: unset;
        height: 70vh;
    }

    #lastPhone {
        left: 65vw;
        width: 80vw;
        height: 75vh;
    }

    #buttonPhone{
        left: 71vw;
        width: 23vw;
        height: 5vh;
        top: 59vh;
    }

    form {
        bottom: 15vh;
    }
}

@media screen and (min-width:370px) and (max-width:500px){
    #firstPhone {
        top: 65vh;
    }
 }

@media screen and (max-width:370px){
    #firstPhone {
        top: 70vh;
    }
 }

 @media screen and (orientation : landscape) {
    #firstLogo {
        left: 3vw;
    }

    #logoSub {
        left: 3.8vw;
    }
 }

 @media screen and (min-width:769px) and (max-width:1024px) and (orientation : portrait) {
     h1 {
         font-size: 3vw !important;
         left: 17vw !important;
     }

     #firstPhone {
         width: 80vw !important;
         left: 47vw !important;
     }

     #robotPicture {
        width: 70vw !important;
    }

    #robotText {
        font-size: 2vw;
    }

    .circles {
        width: 25vw !important;   
        height: 20vh !important;
    }

    main {
        height: 85vh !important;
    }

    #lastPhone {
        height: 40vh;
        top: 15vh !important;
    }

    footer {
        height: 150vh !important;
    }

    #underLastPhone {
        top: 48vh !important;
        height: 27vh;
    }

    #formHeaders {
        top: 79vh;
    }

    #orangeCircle {
        width: 2.5vw;
        height: 2vh;
    }

    #form {
        top: 85vh;
    }

    #send {
        height: 4vh;
        font-size: 3vw;
    }

    #lastHalfCircle {
        height: 15vh;
        width: 50vw;
    }

    #secondLogo {
        height: 6vh;
        width: 10vw;
    }
}