@media screen and (max-width: 768px) {
    #firstPhone {
        width: 80vw;
        height: 78vh;
        left: 26vw;
        top: 22vh !important; 
        zoom: 50%;
    }

    #firstLogo {
        left: 11vw;
        top: 3vh;
        zoom: 50%;
    }

    #logoSub {
        left: 5.5vw;
        top: 8.7vh;
    }

    h1 {
        top: 38vh !important;
        left: 1vw;
    }

    #robotPicture {
        width: 95vw;
    }
    
    main {
        height: 85vh;
    }

    #lastPhone {
        left: 53vw;
        width: 64vw;
        height: 63vh;
    }

    footer {
        height: 215vh;
    }
    #intrested {
        top: 6vh;
        left: 35.5vw;
    }

    #intrestedText {
        top: 14vh;
    }

 

    #underLastPhone {
        zoom: unset;
        left: 35vw;
        top: 102vh;
        zoom: 70%;
        height: 30vh;
        width: 25vw;
        transform: rotate(382.5deg);
    }

    #orangeCircle {
        width: 4vw;
        height: 2.2vh;
        top: 132.3vh;
    }

    #formHeaders {
        bottom: 66vh;
    }

    form {
        bottom: 27vh;
    }

    #send {
        margin-top: 10vh;
    }

    #massage {
        height: 22.3vh;
    }

    #lastHalfCircle {
        height: 15vh;
    }
}