@media screen and (max-width: 768px) {
    #firstPhone {
        width: 80vw;
        height: 78vh;
        left: 25vw;
        top: 29vh;
        zoom: 50%;
    }

    h1 {
        top: 30vh !important;
    }

    #robotPicture {
        width: 95vw;
    }
    
    main {
        height: 85vh;
    }

    #lastPhone {
        left: 50vw;
        width: 64vw;
        height: 63vh;
    }

    footer {
        height: 185vh;
    }

    #underLastPhone {
        zoom: unset;
        left: 35.5vw;
        top: 76vh;
        zoom: 70%;
        height: 30vh;
        width: 25vw;
        transform: rotate(382.5deg);
    }

    #orangeCircle {
        width: 4vw;
        height: 2vh;
        top: 107vh;
    }

    #formHeaders {
        bottom: 66vh;
    }

    form {
        bottom: 27vh;
    }

    #send {
        margin-top: 10vh;
    }

    #massage {
        height: 22.3vh;
    }

    #lastHalfCircle {
        height: 15vh;
    }
}