html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
}

* {
    margin: 0 auto;
}

/*Header*/
header { /*Background Grey*/
    background: transparent linear-gradient(180deg, #F5F5F5 0%, #DEDEDE 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 80vh;
}

#firstLogo {
    position: absolute;
    top: 30px;
    left: 70px;
}

#logoSub {
    position: absolute;
    top: 100px;
    left: 75px;
    font-family: 'Heebo', sans-serif;
    color: #080a41;
}

#firstHeader {
    position: absolute;
    top: 26vh;
    left: 25vw;
    font-family: 'Heebo';
    color: #080A41;
    font-size: 2vw;
}

#firstHeader>span{
    text-align: center;
}

#firstPhone {
   zoom: 70%;
   position: absolute;
   left: 58vw;
   top: 17vh;
   width: 40vw;
   height: 137vh;
}

#icons {
    position: absolute;
    top: 25px;
    right: 20px;
    display: none;
}

#icons>img {
    margin: 0.5vw;
    cursor: pointer;
}


.breakFirstHeader {
    display: block;
}


/*Main*/
main {
    background: var(--unnamed-color-080a41) 0% 0% no-repeat padding-box;
    background: #080A41 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#robotPicture {
    display: block;
    margin: auto;
    width: 38vw;
    height: 28vh;
}

#robotText {
    color: white;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin-top: 3vh;
    font-weight: 100;
    margin-bottom: 5vh;
    font-size: 1vw;
}

#flexCircles {
    display: flex;
    text-align: center;
}

.h3Color{
    color: #F68F6A; 
    font-size: 1.5vw;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 1vh;
}

.robotsUnderText {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 1vw;
}


.circles {
    width: 12vw;
    height: 24.5vh;
}


/*Footer*/
footer {
    background: transparent linear-gradient(180deg, #F5F5F5 0%, #DEDEDE 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 200vh;
    position: relative;
}

#lastPhone {
    zoom: 90%;
    position: absolute;
    left: 25vw;
    top: 25vh;
    width: 24.2vw;
    height: 73vh;
}


#orangeCircle {
    background: #F78C68;
    width: 1.5vw;
    height: 3vh;
    border-radius: 100%;
    position: absolute;
    bottom: 74.5vh;
    z-index: 2;
    left: 50vw;
    transform: translateX(-50%);
}

#lastHalfCircle{
    position: absolute;
    bottom: 0vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 25vw;
    height: 15vh;
}


#secondLogo{
    position: absolute;
    bottom: 1vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 4vw;
    height: 7vh;
}

#intrested{
    color: #F04F29;
    position: absolute;
    right: 32vw;
    font-family: 'Heebo', sans-serif;
    font-size: 3vw;
    position: absolute;
    top: 30vh;
}

#intrestedText {
    color: #080a41;
    position: absolute;
    right: 32vw;
    font-family: 'Heebo', sans-serif;
    top: 40vh;
    direction: rtl;
    font-size: 1vw;
}

form {
    position: absolute;
    bottom: 24vh;
    transform: translateX(-50%);
    left: 50vw;
}



#formHeaders {
    position: absolute;
    bottom: 63vh;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 1.5vw;
    color: rgb(8, 10, 65);
    text-align: center;
}

#formHeaders>h3{
    font-family: 'Heebo', sans-serif;
}

#formHeaders>h4{
    font-size: 1vw;
    font-family: 'Heebo', sans-serif;
}

input {
    direction: rtl;
    border-radius: 5px;
    border: 1px solid #080A41;
    background: transparent;
    font-family: 'Heebo', sans-serif;
    font-size: 1vw;
}

::placeholder{
    color: #080A41;
    font-weight: bold;
    font-size: 1vw;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #080A41;

  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #080A41;

  }

#flexInputs{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
}

#massage {
    width: 20vw;
    height: 20vh;
    resize: none;
    background-color: transparent;
    direction: rtl;
    border-radius: 5px;
    border: 1px solid #080A41;
    font-family: 'Heebo', sans-serif;
    font-size: 1vw;
    position: relative;
    top: 0.9vh;
}

#massage::placeholder{
    font-size: 1vw;
}

.inputType1 {
    width: 17vw;
    height: 5vh;
    margin-top: 1vh; margin-bottom: 1vh;
}

#inputs {
    margin-bottom: -4vh;
}


#send {
    background-color: #080A41;
    color: white;
    border-radius: 25px;
    width: 40vw;
    display: block;
    margin: auto;
    height: 6vh;
    font-size: 3vh;
    cursor: pointer;
    margin-top: 8vh;
    border: none;
    outline: none;
}

#aboveLastPhone {
    zoom: 50%;
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: -37vh;
    left: 64vw;
}

#underLastPhone {
    position: absolute;
    top: 84.8vh;
    left: 32.1vw;
    zoom: 100%;
    width: 18vw;
    height: 40vh;
    z-index: 1;
}








iframe{
    display: none;
}

#buttonPhone {
    position: absolute;
    left: 57vw;
    z-index: 3;
    top: 49.5vh;
    width: 5vw;
    height: 1.5vh;
    cursor: pointer;
    transform: rotate(13deg);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

